<%- include('partials/head.ejs') %>
<body>
  <%- include('partials/homeNavbar.ejs') %>
  <div class="container">
    <br>
    <div class="jumbotron">
      <h1 class="display-4">Bem vindo!</h1>
      <p class="lead">Um simples blog de Alex Sobral</p>
      <hr class="my-4">
      <p>Esse é um blog feito apenas para aprendizado sem esperanças de atualizações futuras</p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Ler mais</a>
    </div>
    <% articles.forEach(article => { %>
      <div class="card">
        <div class="card-header">
          <h4><%= article.title %></h2>
        </div>
        <div class="card-body">
          <a href="/<%= article.slug %>" class="btn btn-success">Ler artigo</a>
        </div>
      </div>
      <br>
    <% }) %>
    <div class="row">
      <div class="col col-12">
        <a class="btn btn-primary" href="">Voltar</a>
        <a class="btn btn-primary" href="/articles/page/2" style="float: right;">Proximo</a>
      </div>
    </div>
  </div>
</body>
<%- include('partials/footer.ejs') %>